
<div class="bg-clr-white container-fluid">
    
  <div class="input-group  pt-4 ">     
      <input class="form-control col-lg-8" type="text" [(ngModel)]="searchTerm" placeholder="Search Keyword" />   
      <span class="input-group-btn">
        <button class="btn btn-primary" [disabled]="searchTerm.length == 0" (click)="search()">Search</button>
      </span> 
  </div>

  <div class="mt-2 col-md-12"></div>

  <div class="pad-bot-20 pt-4">

    <span class="tab-title">Search Results</span> 

    <table class="table table-striped">

      <thead>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Owner</th>
          <th>Category</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="shops.length == 0">
          <td colspan="5">No Records Found</td>
        </tr>

        <tr  *ngFor="let shop of shops; let i = index;">
          <td>{{i + 1}}</td>
          <td>{{shop.name}}</td>
          <td>{{shop.owner}}</td>
          <td>{{shop.category}}</td>
          <td>{{shop.address}}</td>
        </tr>  
      </tbody>
    </table>

  </div>
</div>
