.app-header {
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
    text-align: center;
}

.side-bar { 
    float:left;
    width: 100%;
    min-height: 90vh;
}    

.center {
    text-align: center;
}

.bg-clr-white {
    background-color: #ffffff;
}

.content {
    background-color:#f0f0f5; 
    padding: 10px;
    height:fit-content;
}

.tab-title { 
    font-weight: bold;
}

.pad-bot-20 {
    padding-bottom: 20px;
}

:disabled { cursor: not-allowed; }

