<div class="wrapper side-bar">
  <div class="row">
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item center" *ngFor="let item of navItems" >
          <a [routerLink]="[item.link]" routerLinkActive="active" [title]="item.title">
              <i class="fa  {{item.icon}} fa-2x" aria-hidden="true"></i>

              {{item.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
  