<div class="container-fluid" >

    <div class="ml-4 mr-4">
        <div class="row">
            <div class="col-1 pr-0">
                <div  style="text-align: center;"  >
                    <a class=""  href="#">
                        <img src="http://kris.agentfire2.com/wp-content/mu-plugins/agentfire-shared-library/img/agentfire.svg" 
                        class="d-inline-block mt-1" alt="AgentFire Logo" height="40">
                    </a>
                </div>
            </div>
        
            <div class="col-11 app-header" > 
                <app-header></app-header>
            </div>
        </div>
          
        <div class="row">
                <div class="col-1 pr-0">
                    <app-nav></app-nav>
                </div>
        
                <div class="col-11 content">
                    <router-outlet></router-outlet>
                </div>
        </div>
        
    </div>     

</div>





