<div class="bg-clr-white container-fluid">
  <form [formGroup]="shopFormGroup" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Shop Name"
          [ngClass] = "{'border border-danger' : shopFormGroup.controls?.name?.invalid && isFormSubmitted}">
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        
        <select class="form-control" id="category" formControlName="category"
          [ngClass] = "{'border border-danger' : shopFormGroup.controls?.category?.invalid && isFormSubmitted}"
        >
          <option *ngFor = "let category of categories" [value]="category.id">
            {{category.displayName}}
          </option>
        </select>

      </div>

      <div class="form-group">
        <label for="location">Location</label>

        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
         placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
          #search
          [ngClass] = "{'border border-danger' : shopFormGroup.controls?.location?.invalid && isFormSubmitted}"  
        >
    
    </div>
      <div class="form-group">
        <label for="owner">Owner</label>
        <input type="text" class="form-control" id="owner" formControlName="owner" placeholder="Owner Name"
        [ngClass] = "{'border border-danger' : shopFormGroup.controls?.owner?.invalid && isFormSubmitted}">
      </div>

      
      <div class="rows text-center">
        <div class="col-12"> 
            <button class="btn btn-primary mr-1">Add</button>
            <button class="btn btn-secondary" type="button" (click)="resetForm()">Reset</button>
        </div>
      </div>

  </form>
  
</div>